<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:style="'background-image: url(/background.webp)'">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link" th:if="!${#request.userPrincipal}">
                <a th:href="@{/register}" th:text="#{register}">Register <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link" th:if="!${#request.userPrincipal}">
                <a th:href="@{/login}" th:text="#{login}">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link">
                <a th:href="@{/moderator_account}" th:text="#{moderator}" > <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link">
                <a th:href="@{/speaker_account}" th:text="#{speaker}" >Speaker <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link" th:if="${#request.userPrincipal}">
                <a th:href="@{/logout}" th:text="#{logout}">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
</div>
//sec:authorize="hasAuthority('SPEAKER')"