<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="#{title}">Home Page</title>

    <style>
        .carousel-item{
            width: 50%;
            height: 20%;
            margin: auto;
        }
        .btn-link{
            background-image: url("/register_background.webp");
            width: 480px;
            border-style: solid;
            border-width: 5px;
            border-color: burlywood;
            font-size: 70px;
        }
        img{
            display: block;
            border: 10px solid #ddd;
            border-radius: 4px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>
<body th:style="'background-image: url(/background.webp)'">
<div th:replace="../static/nav :: navbar">
</div>
<div th:replace="../static/select_language :: language"></div>
<img th:src="@{/logo.png}">
<br>
<br>
<br>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
        <div class="carousel-item active">
            <img class="d-block w-100" th:src="@{/amazing_reports.png}" alt="First slide"/>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" th:src="@{/insteresting_speakrs.png}" alt="Second slide"/>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" th:src="@{/wonderful_places.png}" alt="Third slide"/>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<br>
<h2 th:text="#{interesting}">Sounds interesting?</h2>
<a class="btn-link" th:text="#{registerForEvent}" th:href="@{/register_for_event}">Click here to register for an event!</a>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>