<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title th:text="#{loginPage}">Login page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body th:style="'background-image: url(/login_background.webp)'">
<div th:replace="../static/nav :: navbar">
</div>
<div id="container">
  <h2 th:text="#{loginPage}">Login page</h2>
  <form th:action="@{/perform_login}" method="post">
    <label for="username" th:text="#{username}">Username</label>
    <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Enter username" />
    <label for="password" th:text="#{password}">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter password" />
    <input th:text="#{logIn}" id="submit" type="submit" value="Log in" />
  </form>
</div>
<h2 th:text="#{noAccount}">What if I don't have an account?</h2>
<h1>Click here!</h1>
<div class="dropdown">
  <a th:text="#{option}" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose option
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a th:text="#{register}" class="dropdown-item" th:href="@{/register}">Register</a>
    <a th:text="#{title}" class="dropdown-item" th:href="@{/index}">Home Page</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>