<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titleModerator}">Moderator Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        input{
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 1%;
            width: 70%;
            height: 23px;
            text-align: center;
            display: block;
        }
        .form-group{
            padding-bottom: 2%;
            margin-left: 20%;
            margin-right: 20%;
            margin-top:1%;
            margin-bottom: 20%;
            width: 60%;
            height: 150%;
        }
        .formValue{
            margin-left: 15%;
            margin-right: 15%;
            width: 70%;
        }
        button{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            background-color: burlywood;
        }
    </style>
</head>
<body th:style="'background-image: url(/register_background.webp)'">
<div th:replace="../static/nav :: navbar">
</div>
<h2 style="text-align: center" th:text="#{change}">Change event</h2>
<div class="form-group">
    <form method="post" th:action="@{/sortByDateASC}">
        <input th:text="#{ASC}" type="submit" value="SortASC">
    </form>
    <form method="post" th:action="@{/sortByDateDESC}">
        <input th:text="#{DESC}" type="submit" value="SortDESC">
    </form>
<form id="form1" th:action="@{/moderator_account}" method="post">
<table>
    <thead>
    <tr>
        <th th:text="#{nameOfEvent}"> Name </th>
        <th th:text="#{place}"> Place </th>
        <th th:text="#{date}"> Date </th>
        <th th:text="#{time}"> Time </th>
    </tr>
    </thead>
    <tbody style="height: auto">
        <tr th:each="event : ${events}">
            <form method="post" th:action="@{/updateEvent}">
                <td><span th:text="*{event.getName()}"></span></td>
                <td><span th:text="*{event.getPlace()}"></span></td>
                <td><span th:text="*{event.getDate()}"></span></td>
                <td><span th:text="*{event.getTime()}"></span></td>
                <td style="visibility: hidden" ><input th:value="${event.idevent}" th:attr="name = 'idevent'"></td>
                <td><input type="submit" style="width: auto" value="update event"></td>
            </form>
            <form th:action="@{/delete_event}" method="post" >
                <td style="visibility: hidden" ><input th:value="${event.idevent}" th:attr="name = 'idevent'"></td>
                <td><input th:text="#{delete}" type="submit" style="width: auto" value="delete event">
                </td>
            </form>
        </tr>
    </tbody>
</table>
    <nav aria-label="Pagination" th:if="${customers.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-medium">
            <li class="page-item" th:classappend="${customers.number eq 0} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/moderator_account?page={id}(id=${customers.number lt 2 ? 1 : customers.number})}"
                   aria-label="Previous"
                   title="Previous Page" rel="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq customers.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( customers.number + 1, customers.totalPages > 10 + customers.number ? customers.number + 10 : customers.totalPages, 1)}">
                <a class="page-link" th:href="@{/moderator_account?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}"
                   rel="tooltip"></a>
            </li>
            <li class="page-item disabled" th:if="${customers.number + 10 < customers.totalPages}">
                <a class="page-link svg-icon" href="#">
                    <span data-feather="more-horizontal" width="20" height="20"></span>
                </a>
            </li>
            <li class="page-item" th:classappend="${customers.number + 1 eq customers.totalPages} ? 'disabled'">
                <a class="page-link svg-icon" th:href="@{/moderator_account?page={id}(id=${customers.number + 2})}"
                   aria-label="Next"
                   title="Next Page" rel="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
                </a>
            </li>
        </ul>
    </nav>
</form>
</div>
<h2 style="text-align: center" th:text="#{create}">Create event</h2>
<div class="form-group">
    <form th:action="@{/moderator_account}" method="post" name="form" th:object="${EventDTO}">
        <div class="formValue">
            <label for="name" th:text="#{nameOfEvent}">Name</label>
        </div>
        <input type="text" id="name" name="name" th:attr="name = 'name'" autofocus="autofocus" placeholder="Enter name" /><br>
        <div class="formValue">
            <label for="date1" th:text="#{date}">Date</label>
        </div>
        <input type="date" id="date1" name="date" th:attr="name = 'date'" placeholder="Enter date" /><br>
        <div class="formValue">
            <label for="place1" th:text="#{place}">Place</label>
        </div>
        <input type="text" id="place1" name="place" th:attr="name = 'place'" placeholder="Enter place" /><br>
        <div class="formValue">
            <label for="time1" th:text="#{time}">Time</label>
        </div>
        <input type="time" id="time1" name="time"  th:attr="name = 'time'" placeholder="Enter time" /><br>
        <input id="submit1" type="submit" th:value="Save"/>
    </form>
</div>
<h2 style="text-align: center" th:text="#{createTopic}">Create topic for report</h2>
<div class="form-group">
    <form th:action="@{/save_report}" method="post" name="form">
        <div class="formValue">
            <label for="topic" th:text="#{topic}">Topic</label>
        </div>
        <input th:attr="name ='topic'" type="text" id="topic" name="topic" placeholder="Enter topic" /><br>
        <input id="submit2" type="submit" value="Submit" />
    </form>
</div>
<h2 style="text-align: center" th:text="#{propose}">Propose topic of the report for the speaker</h2>
<div class="form-group">
    <form th:action="@{/save_speaker}" method="post">
        <div class="formValue">
            <label for="speaker" th:text="#{nameSpeaker}">Name of speaker</label>
        </div>
        <input th:attr="name ='name'" type="text" id="speaker" name="name" autofocus="autofocus" placeholder="Enter speaker name" /><br>
        <div class="formValue">
            <label for="topic1" th:text="#{topic}">Topic</label>
        </div>
        <input th:attr="name ='topic_for_speaker'" type="text" id="topic1" name="topic_for_speaker" placeholder="Enter topic" /><br>
        <input id="submit3" type="submit" value="Submit" />
    </form>
</div>
<a th:href="@{/statistics}"><button type="button" class="btn" th:text="#{statistics}">View statistics</button></a>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>