<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body th:style="'background-image: url(/register_background.webp)'">
<div th:replace="../static/nav :: navbar">
</div>
<div class="container">
    <div class="content">
        <form method="post" th:action="@{/register}" th:object="${userDTO}"  name="formError">
            <div class="inputValues" th:text="#{email}">
                Email
            </div>
            <label>
                <input type="text" name="email" th:field="*{email}" th:errorclass="is-valid" th:name="errorWithLogin">
            </label>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalidFeedback" th:name="errorWithLogin1"></div>

            <div class="inputValues" th:text="#{username}">
                Username
            </div>
            <label>
                <input type="text" name="username" th:field="*{username}" th:errorclass="is-valid" th:name="errorWithLogin">
            </label>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalidFeedback" th:name="errorWithLogin1"></div>

            <div class="inputValues" th:text="#{password}">
                Password
            </div>
            <label>
                <input type="password" name="password" th:field="*{password}" th:errorclass="is-valid" th:name="errorWithPassword1">
            </label>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalidFeedback" th:name="errorWithPassword"></div>

            <div class="inputValues" th:text="#{rPassword}">
                Repeat password
            </div>
            <label>
                <input type="password" name="repeatPassword" th:field="*{repeatPassword}" th:errorclass="is-valid" th:name="errorWithrPassword1">
            </label>
            <div th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}" class="invalidFeedback" th:name="errorWithrPassword"></div>

            <div class="inputValues" th:text="#{nameOfEvent}">
                Name
            </div>
            <label>
                <input type="text"  name="name" th:field="*{name}" th:errorclass="is-valid" th:name="errorWithName1">
            </label>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalidFeedback" th:name="errorWithName"></div>

            <div class="inputValues" th:text="#{surname}">
                Surname
            </div>
            <label>
                <input type="text" name="surname" th:field="*{surname}" th:errorclass="is-valid" th:name="errorWithSurname1">
            </label>
            <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="invalidFeedback" th:name="errorWithSurname"></div>

            <div class="inputValues" th:text="#{country}">
                Country
            </div>
            <label>
                <input type="text" name="country" th:field="*{country}" th:errorclass="is-valid" th:name="errorWithCountry1">
            </label>
            <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="invalidFeedback" th:name="errorWithCountry"></div>

            <div class="inputValues" th:text="#{city}">
                City
            </div>
            <label>
                <input type="text" name="city" th:field="*{city}" th:errorclass="is-valid" th:name="errorWithCity1">
            </label>
            <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalidFeedback" th:name="errorWithCity"></div>

            <div class="inputValues" th:text="#{phone}">
                Phone number
            </div>
            <label>
                <input type="text" name="phoneNumber" th:field="*{phoneNumber}" th:errorclass="is-valid" th:name="errorWithPhone">
            </label>
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="invalidFeedback" th:name="errorWitbPhone"></div>

            <p>
                <label th:text="#{roles}">Roles: </label>
                    <div th:each="role : ${allRoles}">
                    <input type="radio" name="roles"

                           th:text="${role.nameOfRole}"
                           th:attr="name='idroles'"
                           th:value="${role.idroles}"
                    />

                        </div>

            </p>

            <input type="submit" style="width: 50%;margin-left:auto;margin-right:auto;" class="alert-danger">
        </form>
    </div>
</div>
<!--</nav>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>