<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titleSuccess}">Registration Success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body th:style="'background-image: url(/register_background.webp)'">
  <h1 style="text-align: center" th:text="#{success}">You have signed up successfully!</h1>
  <a th:href="@{/login}" class="mb-0" th:text="#{sLogin}">Click here to Login</a>
</body>
</html>