<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titleRegisterForEvent}">Register for event</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    .contentoftable{
        margin-left: 20%;
        margin-right: 20%;
        margin-top:1%;
        margin-bottom: 20%;
        width: auto;
        height: auto;
        padding: 5px;
    }
    input{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 1%;
        width: 70%;
        height: 23px;
        text-align: center;
        display: block;
    }
    td{
        padding-right: 10px;
        padding-left: 10px;
    }
    table{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .form-group{
        padding-bottom: 2%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top:1%;
        margin-bottom: 20%;
        width: 60%;
        height: 150%;
    }
    .formValue{
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
</style>
</head>
<body th:style="'background-image: url(/register_background.webp)'" style="width: 100%;">
<div th:replace="../static/nav :: navbar">
</div>
<div class="container">
    <div class="contentoftable">
<form th:method="post" th:action="@{/register_for_event}">
<!--    <div class="nav">-->
<!--        <a th:href="@{/index}" class="alert-link">-->
<!--            <div class="alert alert-primary" role="alert">-->
<!--                HOME-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
    <div class="choose">
    <table>
        <thead>
        <tr>
            <th th:text="#{nameOfEvent}"> Name </th>
            <th th:text="#{place}"> Place </th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td>
                <input type="radio" name="name" th:checked="${myBooleanVariable}" th:value="${event.name}" th:attr="name = 'eventName'"/>
                <label th:text="${event.name}"></label>
                </td>
                <td>
                <input type="radio" name="place" th:checked="${myBooleanVariable}" th:value="${event.place}"/>
                <label th:text="${event.place}"></label>
                </td>
            </tr>
        </tbody>
        <div class="form-group">
            <div class="formValue">
            <label for="email" th:text="#{email}">Email</label>
            </div>
            <input th:attr="name='userEmail'" th:checked="${checkEmail}" type="text" id="email" name="email" autofocus="autofocus" placeholder="Enter email" /><br>
            <input th:text="#{signUp}" id="submit" type="submit" value="Sign up" />
        </div>
    </table>
    </div>
</form>
</div>
</div>
</body>
</html>