<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titleSpeaker}">Speaker account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        input{
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 1%;
            width: 70%;
            height: 23px;
            text-align: center;
            display: block;
        }
        .form-group{
            padding-bottom: 2%;
            margin-left: 20%;
            margin-right: 20%;
            margin-top:1%;
            margin-bottom: 20%;
            width: 60%;
            height: 150%;
        }
        .formValue{
            margin-left: 15%;
            margin-right: 15%;
            width: 70%;
        }
        button{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            background-color: burlywood;
        }
    </style>
</head>
<body th:style="'background-image: url(/register_background.webp)'">
<div th:replace="../static/nav :: navbar">
</div>
<h2 style="text-align: center" th:text="#{offer}">Offer yourself as speaker for event</h2>
<div class="form-group">
    <form th:action="@{/save_speaker_event}" method="post">
        <div class="formValue">
            <label for="name" th:text="#{nameSpeaker}">Name of speaker</label>
        </div>
        <input th:attr="name ='nameOfSpeaker'" type="text" id="name" name="name" autofocus="autofocus" placeholder="Enter name" /><br>
        <div class="formValue">
            <label for="event" th:text="#{nameEvent}">Name of event</label>
        </div>
        <input th:attr="name ='nameOfEvent'" type="text" id="event" name="event" autofocus="autofocus" placeholder="Enter event" /><br>
        <div class="formValue">
            <label for="topic" th:text="#{topicReport}">Topic of report</label>
        </div>
        <input th:attr="name ='topicOfReport'" type="text" id="topic" name="topic" placeholder="Enter topic" /><br>
        <input id="submit" type="submit" value="Submit" />
    </form>
</div>
<h2 style="text-align: center" th:text="#{offerReport}">Offer report for event</h2>
<div class="form-group">
    <form>
        <div class="formValue">
            <label for="event" th:text="#{nameEvent}">Name of event</label>
        </div>
        <input type="text" id="event1" name="event" autofocus="autofocus" placeholder="Enter event" /><br>
        <div class="formValue">
            <label for="topic" th:text="#{topicReport}">Topic of report</label>
        </div>
        <input type="text" id="topic1" name="topic" placeholder="Enter topic" /><br>
        <input id="submit1" type="submit" value="Submit" />
    </form>
</div>
<a th:href="@{/suggested_topics}"><button type="button" class="btn" th:text="#{topics}">View list of topics for reports</button></a>
<a th:href="@{/suggested_topics}"><button type="button" class="btn" th:text="#{suggested}">View list of suggested topics</button></a>
<a th:href="@{/participated_events}"><button type="button" class="btn" th:text="#{participated}">View list of events in which you participated</button></a>
</body>
</html>