<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title th:text="#{titleStatistics}">Statistics</title>
</head>
<body th:style="'background-image: url(/register_background.webp)'">
<div th:replace="../static/nav :: navbar">
</div>
<!--<a >Number of users for the event: </a>-->
<!--<span th:text="${number}">v</span>-->
<table>
    <tr th:each="event, iter : ${events}">
        <form method="post" th:action="@{/submitCurrentValue}">
            <td>
                <span th:text="${event.name}"></span>
            </td>
            <td>
                <span th:text="${part[__${event.getIdevent()}__].intValue()}"></span>
            </td>
            <td style="visibility: hidden">
                <input th:value="${part[__${event.getIdevent()}__].intValue()}" th:attr="name = 'currentValue'">
            </td>
            <td style="visibility: hidden">
                <input th:value="${event.getIdevent()}" th:attr="name = 'idevent'">
            </td>
            <td>
                <span th:if="${event.getActual()!=0 or event.getActual()!=null}" th:text="${event.getActual()}"></span>
                <span th:if="${event.getActual()==0 or event.getActual()==null}">No info</span>
            </td>

            <td th:if="${event.getActual()==0 and event.getActual()==null}">
                <input type="submit" value="Confirm">
            </td>
        </form>

        <form th:if="${event.getActual()==0 or event.getActual()==null}" method="post" th:action="@{/submitCurrentValue}">
            <td style="visibility: hidden">
                <input type="text" th:value="${event.getIdevent()}" th:attr="name = 'idevent'">
            </td>
            <td>
                <input type="text" th:attr="name = 'currentValue'">
            </td>
            <td>
                <input type="submit">
            </td>
        </form>
    </tr>
</table>
</body>
</html>