<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="#{titleSuggested}">Suggested topics</title>
    <style>
        input{
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 1%;
            width: 70%;
            height: 23px;
            text-align: center;
            display: block;
        }
        td{
            padding-right: 10px;
            padding-left: 10px;
        }
        table{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>
<body th:style="'background-image: url(/login_background.webp)'">
<div th:replace="../static/nav :: navbar">
</div>
<form th:method="post" th:action="@{/suggested_topics}">
    <table>
        <thead>
        <tr>
            <th th:text="#{nameEvent}"> Name of Event </th>
            <th th:text="#{topicReport}"> Topic of Report </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th:block th:each="topic : ${topics}">
                <td>
                    <label th:text="${topic}"></label>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>