<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="container text-center">
  <div>
    <form th:action="@{/logout}" method="post">
      <p>
        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
      </p>
      <input type="submit" value="Sign Out" />
    </form>
  </div>
  <div>
    <h1>List of Users</h1>
  </div>

  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>User ID</th>
        <th>E-mail</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user: ${User}">
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.email}">E-mail</td>
        <td th:text="${user.name}">First Name</td>
        <td th:text="${user.surname}">Last Name</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>